version: 2
updates:
- package-ecosystem: gomod
  directory: /
  schedule:
    interval: daily
- package-ecosystem: npm
  directory: /bindings/js
  versioning-strategy: increase
  schedule:
    interval: weekly
- package-ecosystem: github-actions
  directory: /
  schedule:
    # Check for updates to GitHub Actions every weekday
    interval: daily
